.Landing{
    min-height: 100vh;
    min-height: 100dvh;
    min-height: 100svh;
    /* min-height: 100vh; */
    font-family: 'ibm plex sans';
    background-color: #1A181B;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* gap: 40px; */
    color: white;
}
.landingBg{
    background-color: #1A181B;
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
}
.bgImgDiv{
    height: 100vh;
}
.bgImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: right;
    opacity: 50%;
}
.landinghead1{
    font-size: 48.6px;
    margin: 0 40px;
    z-index: 1;
}
.landinghead2{
    font-size: 117px;
    margin: 0 36px;
    z-index: 1;
    font-weight: 800;
}
.landingseeMore{
    height: 78px;
    border: 1px solid white;
    margin: 14px 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
    font-size: 11px;
    z-index: 1;
}

.landingText{
    font-size: 25px;
    margin: 20px 40px;
    margin-bottom: 60px;
    z-index: 1;

}

@media only screen and (max-width:880px){
    

    .landinghead1{
        font-size: 60px;
        margin: 0 20px;
        z-index: 1;
    }
    .landinghead2{
        font-size: 80px;
        margin: 0 16px;
        z-index: 1;
        font-weight: 800;
    }

    .landingBg{
        grid-template-columns: auto;
    }
    .bgColor{display: none;}
       
    
}

@media only screen and (orientation:portrait){
    

    .landinghead1{
        font-size: 28.6px;
        margin: 0 20px;
        z-index: 1;
    }
    .landinghead2{
        font-size: 50px;
        margin: 0 16px;
        z-index: 1;
        font-weight: 800;
    }

    .landingBg{
        grid-template-columns: auto;
    }
    .bgColor{display: none;}
       
    

    .landingseeMore{
       
       margin-top: 100px;
        
    }

    .bgImg{
        /* object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: right; */
        opacity: 30%;
    }
}